body{
	background-color:  rgb(56, 45, 47);
	background-image: url("font3.jpg");
	
	background-size: 1367px;
	
	
	margin: 0;
	padding: 0;

}

.menu{
	background-color: rgb(56, 45, 47,0.5);
	margin: 0;
}
.menu nav ul{
	display: flex;
	margin: 0;
}
.menu nav ul li{
	list-style-type: none;
	padding: 7px;
	font-size: 20px;
	
}
.menu nav ul a{
	text-decoration: none;
	color: aliceblue;
}
.corps1{
	padding:20px;
	margin:20px;
}
.corps1 p{
	color: aliceblue;
	text-transform: uppercase;

	
}
.corps1 h1{
	
	text-transform: uppercase;
	color: aliceblue;
	font-size: 40px;
	
}
.portofolio{
	
	width: 300px;
	border-color: rgb(15, 122, 42);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 2px  2px 2px 2px white;
	margin: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.portofolio div{
	border-radius: 10px;
	box-shadow: 2px  2px 2px 2px white;
}
 div a{
	text-decoration: none;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	color: aliceblue;
	padding: 7px;
}
.corps1  img{
	width: 300px;
	
}
.corps1 h2{
	text-align: center;
	color: aliceblue;

}

.special{
	letter-spacing: 5px;
	font-size: 10px;
}
.corps1 button{
	border-radius: 15px;
	padding: 5px;
	width: 100px;
	background-color: transparent;
	color: aliceblue;
	border-color: aliceblue;
	box-shadow: 0px 3px white;
}
.cont1{
	color: aliceblue;
}
.cont1 ul li{
	list-style-type: none;
	font-size: large;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 15px;
}
section h1{
	color: aliceblue;
	
	
}
.propos{
	display: flex;
	justify-content: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	word-spacing: 10px;
	border-spacing: 10px;
}
.propos ul li{
	list-style-type: none;
	color: aliceblue;
	padding: 10px;
}
.bloc2{
   color: aliceblue;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.sel{
	border-radius: 70px;
	border-color: aliceblue;
	padding: 40px;
	background-color: rgba(20,55,100,0.3);
	
}
.bloc3{
	color: aliceblue;
 }
 .bloc4{
	color: aliceblue;
	
	
	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
 }
 .bloc4 div{
	width: 100px;
	background-color: rgba(20,55,100,0.3);
	padding: 30px;
	border-radius: 20px;

 }
 footer{
	padding: 7px;
	margin: 7px;
 }
